.card-bgimage {
  margin: 0rem;
  width: 16rem;
  height: 16rem;
  background-size: cover;
  background-position: center;
}

.card {
  min-width: 18rem;
  max-width: 224rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-price {
  position: relative;
  left: 15px;
  top: 5px;
  font-weight: bold;
  text-shadow: 0px 0px 4px #000000;
}
